# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# Docker / Compose
*.log
*.pid
*.sock
.env
.env.*
.DS_Store
*.db
*.sqlite
*.swp
# VSCode / Jupyter
.vscode/
.ipynb_checkpoints/
# OS/IDE
.idea/

# Ignore all files and subdirectories under test/
test/
